*,*::after,*::before{
  box-sizing: border-box;
  // border: 1px solid black;
}

img{
  width: 100%;
  height: 100%;
}

body{
  font-size: 18px;
  padding: 0;
  margin: 0;
  // font-family: Arial, Helvetica, sans-serif;
}

$Dark-Blue: hsl(233, 26%, 24%);
$Lime-Green: hsl(136, 65%, 51%);
$Bright-Cyan: hsl(192, 70%, 51%);
$Grayish-Blue: hsl(233, 8%, 62%);
$Light-Grayish-Blue: hsl(220, 16%, 96%);
$Very-Light-Gray: hsl(0, 0%, 98%);
$White: hsl(0, 0%, 100%);


.invite{
  color: $White;
  background: linear-gradient(to right, $Lime-Green, $Bright-Cyan);
  padding: .5em 1.5em;
  border-radius: 50px;
  border: none;
  font-size: .9em;
  font-weight: 500;

  &:hover{
   cursor: pointer;
  }
}

.nav{
  margin-top: -5px;
  padding: .5em .5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  .invite{
    display: none;
  }
  .image{
    width: 100px;
  }
  .side-nav{
    background-color: $White;
    position: absolute;
    width: 90%;
    top: 100%;
    margin: 0 auto;
    text-align: center;
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 10%);
    left: 15px;
    border-radius: 10px;
    display: none;
    color: $Grayish-Blue;
    // right: auto;
    // bottom: 50%;
  }
  .inner-nav{
    background-color: $White;
    position: absolute;
    width: 90%;
    top: 100%;
    margin: 0 auto;
    text-align: center;
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 10%);
    left: 15px;
    border-radius: 10px;
    display: none;
    color: $Grayish-Blue;
  }
  z-index: 1;
  background-color: $White;
}

.container{
  height: 100vh;
  background-color: $White;
  display: grid;
  gap: 0px;
  z-index: -100000;
  transform: translateY(-135px);
  .hero{
    display: flex;
    flex-direction: column-reverse;
    background-image: url('../images/bg-intro-mobile.svg');
    background-repeat: no-repeat;
    background-size: contain;

    .hero-text{
      .hero-text--header{
        // text-align: center;
        font-size: 2em;
        width: clamp(100px, 70%, 4000px);
        margin: .2em auto;
        font-weight: 300;
        text-align: center;
        color: $Dark-Blue;
      }
      .text{
        width: clamp(100px, 80%, 400px);
        text-align: center;
        margin: 0 auto;
        line-height: 23px;
        font-size: .8em;
        color:$Grayish-Blue;
        // word-break: break-all;
        // letter-spacing: 10px;
      }


      .button {
        display: flex;
        justify-content: center;
        padding: .5em 0;
      }
    }
  }


  .second-section{
    padding: 5em 0;
    background-color: $Light-Grayish-Blue;
    // background-color: red;
    width: 100%;
    .second-section--header{
      font-size: 1.5em;
      width: clamp(100px, 70%, 4000px);
      margin: .2em auto;
      font-weight: 300;
      text-align: center;
      color: $Dark-Blue;
    }
    .text{
      width: clamp(100px, 90%, 400px);
      text-align: center;
      margin: 0 auto;
      line-height: 23px;
      font-size: .8em;
      color:$Grayish-Blue;
    }

    .second-section--flex{
      display: flex;
      flex-direction: column;
      // flex-wrap: wrap;

      .flex-child{
        .image{
          width: 80px;
          height: 80px;
        }
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1em 0;
      }
    }
    margin: 0;
  }

  .third-section{
    margin: 0;
    background-color: $Very-Light-Gray;
    padding: 5em 0;
    // background-color: red;
    .third-header{
      font-size: 1.5em;
      width: clamp(100px, 70%, 400px);
      margin: .2em auto;
      font-weight: 300;
      text-align: center;
      color: $Dark-Blue;
      padding: .5em 0;
    }
    .third-flex{
      display: flex;
      // flex-direction: column;
      flex-wrap: wrap;
      gap: 1em;
      align-items: stretch;
      .flex-child{
        margin: 0 auto;
        width: clamp(200px, 90%, 350px);
        height: 100%;
        .image{
          width: 100%;
          height: 100%;
          // margin: o;
        }
        .writing{
          // min-height: 300px;
          // height: 100%;
          padding: .5em 1em;
          background-color: $White;
          .author{
            font-size: .7em;
            color: $Grayish-Blue;
          }

          .title{
            &:hover{
              color: $Lime-Green;
              cursor: pointer;
            }
          }

          .title{
            font-weight: 300;
            color: $Dark-Blue;
          }

          .text{
            color: $Grayish-Blue;
            font-size: .9em;
            line-height: 20px;
          }
        }
      }
    }
  }

}
.footer{
  background-color: $Dark-Blue;
  padding: 2em 0;
  .footer-left{
    padding: 1em 0;
    .footer-left--child{
      display: flex;
      flex-direction: column;
      gap: 2em;
      max-width: 200px;
      margin: 0 auto;
      .image{
        display: flex;
        justify-content: center;
      }

      .socials{
        .image{
          width: 24px;
          height: 25px;

          .img{
            width: 110%;
          }
          .img{
            .path:hover{

              fill: $Lime-Green;
            }
          }
          &:hover{
              fill: hsl(136, 65%, 51%);
              cursor: pointer;
            }
        }
        display: flex;
        justify-content: space-around;
      }
    }

    .footer-left--child-two{
      max-width: 200px;
      margin: 0 auto;
      text-align: center;
      color: $Light-Grayish-Blue;
      .link{
        &:hover{
              color: $Lime-Green;
              cursor: pointer;
            }
      }
    }
  }

  .footer-right{
    // max-width: 300px;
    // margin: 0 auto;
    padding: 1em 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    width: 100%;

    .copyright{
      color: $Grayish-Blue;
      font-weight: 300;
    }
  }
}

@media screen and (min-width: 750px) {
  .nav{
    display: flex;
    justify-content: space-between;
    // border: 1px solid red;
    align-items: baseline;
    padding: .5em 1em;
    // position: fixed;
    left: 0;
    right: 0;
    .ham{
      display: none;
    }
    .side-nav{
      display: none;
    }
    .inner-nav{
      display: flex;
      position: static;
      max-width: 400px;
      justify-content: space-between;
      background-color: white;
      box-shadow: none;
      padding: 0;
      .inner-nav--child{
        margin: 0;
        cursor: pointer;
        position: relative;
        padding: 1em;
        // height: .5em;
        // color: $Dark-Blue;
        &::after{
          content: '';
          width: 100%;
          height: 5px;
          // border: 1px solid black;
          position: absolute;
          bottom: 0;
          right: 0;
          // background: linear-gradient(to right, $Lime-Green, $Bright-Cyan);
          // display: none;
        }
        &:hover{
          color: $Dark-Blue;
        }
         
        // &:hover &::after{
        //   display: block;
        // }
      }
    }

    .invite{
      display: block;
    }

    .image{
      // border: 1px solid black;
      display: flex;
      align-items: center;
      // height: 100%;
    }
  }
}

@media screen and (min-width: 1086px) {
  .nav{
    padding: 0 2em ;
  }
  .container{
    transform: translateY(0px);
    // overflow-x: hidden;
    .hero{
      display: flex;
      flex-direction: row;
      background-image: none;
      // position: relative;
      align-items: center;
      // overflow: hidden;
      // overflow-y: hidden;

      .hero-text{
        max-width: 600px;
        padding: 13em 2em;
        margin: none;
        .hero-text--header{
          margin: 0;
          font-size: 3rem;
          text-align: left;
        }
        .text{
          margin: 0;
          text-align: left;
        }
        .button{
          justify-content: flex-start;
        }
      }

      .hero-image{
        background-image: url('../images/bg-intro-desktop.svg');
        background-size: cover;
        // background-clip: padding-box;
        background-position: left;
        background-repeat: no-repeat;
        position: absolute;
        min-width: 75%;
        min-height: 1000px;
        // height: 100%;
        transform: translate(100px, -90px);
        // transform: translateY(-100px);
        right: 0;
        // overflow: hidden;
        img{
          position: absolute;
          transform: translate(30px, 160px);
          max-width: 80%;
          max-height: 90%;
          right: 0;
          // transform: translateY(50px);
          // display: none;
        }
      }
    }

    .second-section{
      padding: 5em 2em;
      .second-section--header{
        font-size: 2em;
        margin: 0;
        text-align: left;
        padding: .5em 0;
      }

      .text{
        text-align: left;
        margin: 0;
        font-size: 1em;
        width: clamp(100px, 90%, 500px);
      }

      .second-section--flex{
        padding: 2em 0;
        flex-direction: row;

        .flex-child{
          align-items: flex-start;
        }
      }
    }

    .third-section{
      padding: 3em 2em;
      .third-header{
        margin: 0;
        text-align: left;
      }

      .third-flex{
        flex-wrap: nowrap;
        .flex-child{
          display: flex;
          flex-direction: column;
          // min-height: 100%
        }
      }
    }

  }
  .footer{
    display: flex;
    padding: 3em 2em;
    justify-content: space-between;

    .footer-left{
      // margin: 0;
      max-width: 100%;
      display: flex;
      gap: 5em;
      .footer-left--child{
        margin: 0;
        display:flex ;
        justify-content: space-between;

        .socials{
          display: flex;
          justify-content: space-between;
        }
      }
      .footer-left--child-two{
        .link{
          margin: 0 0;
          text-align: center;
          min-width: 150px
        }
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        // dis
        // flex-direction: row;
      }
    }
    .footer-right{
      margin: 0 0;
      max-width: 100%;
      display: flex;
      gap: 1em;
      align-items: flex-end;
    }
  }
}